* {
    margin: 0;
    padding: 0;
}

  .buttons{
    padding: 9px;
    /* margin-left: 14.5px;
    margin-right: 14.5px;
    margin-top: 14.5px; */

    width: 40px;
    height: 50px;
    
    cursor: pointer;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: lightblue;
}  

.text-center {
    text-align: center;
}

.bg-red {
    background-color: black;


}

table {
    margin-left: 14.5px;
    margin-right: 14.5px;
    margin-top: 14.5px;
    /* margin: 14.5px; */

}

.button {
    width: 70px;
    height: 45px;
    background-color: lightblue;
    font-size: 30px;

}

/* .mx_auto{
    margin: auto;
} */
.m-w-20 {
    width: 100vw;
    max-width: 200vw;
    text-align: center;
    justify-content: center;
    margin: auto;
}

.flex {
    display: flex;
}

.flex_col {
    flex-direction: column;
}

.item-center {
    align-items: center;
    justify-content: center;
}

.row {
    margin: 5px 0;
    width: 30vw;
}

/* .speed{
    width: 0px;
    font-size: 0px;
    height:0px;
} */
.row input {
    margin: 0;
    padding: 0;
    padding-left: 60px;
     padding-right: 5px;   
    width: 6vw;
    /* border: 2px solid red; */
    /* border-radius: 9px; */
    height: 2vw;

}

.container {
    width: 30vw;
    height: 25vw;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.speed {

        margin-left: 14.5px;
        margin-right: 14.5px;
        margin-top: 14.5px;
    

}
.myclass{
    align-items: center;
    text-align: center;
}
